@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    color: var(--Grayish-Blue);
    line-height: 1.4;
}

h1,
h2 {
    font-size: 2rem;
    line-height: 1;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--Dark-Grayish-Blue);
}

p {
    text-align: center;
}

a,
abbr[title] {
    text-decoration: none;
}

.download a:hover {
    background-color: hsl(171, 96%, 44%);
}

li {
    list-style: none;
}

.history {
    text-align: center;
    width: 100%;
}


.download {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 24px;
    margin: 30px auto 100px;
}

.download a {
    width: 100%;
    border-radius: 50px;
    background-color: var(--Strong-Cyan);
    color: #fff;
    text-align: center;
    padding: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0.8px 1.2px var(--Strong-Cyan);

}

.download a:last-child {
    background-color: var(--Light-Blue);
    box-shadow: 0.8px 1.2px var(--Light-Blue);
}

.logo img {
    height: 80px;
    width: 80px;
}

.computer,
.device {
    width: 80%;
}

.computer-container,
.devices-container,
.icon,
footer .logo {
    display: flex;
    justify-content: center;
}

.brands {
    margin: 150px auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    align-items: center;
}

footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 24px;
}

footer .logo {
    transform: translateX(20px);
}

ul li {
    margin-bottom: 24px;
    text-align: center;
    font-size: 1.4rem;
}